<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>159_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,260},{84,190}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,66},{84,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,228},{120,208}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,48},{120,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,180},{136,222}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,34},{136,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{148,224}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,32},{148,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{176,230}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,26},{176,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{206,238}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,18},{206,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,776},{236,252}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{236,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{238,256}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{238,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{248,256}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{248,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,256}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{250,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,260},{208,256}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{208,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{196,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{196,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,518},{218,256}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{218,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>159_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{186,256}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{186,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>159.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfddfd08d9eb8ef5701aa9f2ebefbbc1$</string>
            <key>textureFileName</key>
            <string>159.png</string>
        </dict>
    </dict>
</plist>
